body{
  margin: 0;
  padding: 0;
  width: 100%;
  font-style: 'Montserrat', sans-serif;
}
#home{
  background-image: url("../images/home.jpg");
  background-repeat:no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-color: #F7F7F7;
  width: 100%;
}
#callback{
  background-image: url("../images/callback.jpg");
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #F7F7F7;
  width: 100%;
}
#contact{
  background-image: url("../images/contact.jpg");
  background-repeat:no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-color: #F7F7F7;
  width: 100%;
}
.nav-tab,.nav-center-tab,.nav-c-tab{
  color:#ffffff;
}
.nav-tab{
  font-weight: 400;
  font-size: 18px;
  text-shadow: 0px 2px 4px #000000;
  letter-spacing: 2px;
  margin-top: 20px;
}

.nav-center-tab{
  font-weight: 600;
  font-size: 23px;
  text-shadow: 0px 2px 4px #000000;
  letter-spacing: 2px;
  display: inline;
}

.nav-c-tab{
  font-weight: 300;
  font-size: 23px;
  text-shadow: 0px 0px 0px #000000;
  letter-spacing: 3px;
  display: inline;
  padding-left: 3px;
}

.center-nachias{
 padding-top: 28px;
}
#map
{
        width: 650px;
        height: 400px;
        margin-top: 20px;
}

.navbar-default{
  background-color: transparent;
  border-color: transparent;
}

@media (min-width: 1200px) {
  .nav-cen{
    margin-left:265px;
  }
  .nav-center-tab{
    margin-left: 30px;
  }

  .nav-c-tab{
    margin-right: 30px;
  }
  .contact-content{
    margin-top: 330px;
  }
  .home-content{
    margin-top: 550px;
  }
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border: none;
}


.bold-contact{
  font-weight: 500;
  font-size: 21px;
  letter-spacing: 5px;
  margin-top: 30px;
  text-align: center;
}

.thin-contact{
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 6px;
  margin-top: 30px;
  text-align: center;
}
.address-contact{
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 6px;
  margin-top: 30px;
  text-align: left;
  line-height: 30px;
}

.copyrights{
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 30px;
  margin-top: 30px;
}

.designed{
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 30px;
  margin-bottom: 50px;
}

.heading-home{
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 2px;
  margin-top: 50px;
}
.header-content{
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 30px;
  margin-top: 15px;
}
.op-principle{
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 2px;
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.op-left{
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 6px;
  vertical-align: middle;
  text-align: left;
  margin-bottom: 50px;
}

.op-right{
  font-weight: 300;
  font-size: 20px;
  font-style: italic;
  letter-spacing: 2px;
  vertical-align: middle;
  text-align: right;
  margin-bottom: 50px;
}

.op-left-content{
  font-weight: 300;
  font-size: 20px;
  font-style: italic;
  letter-spacing: 2px;
  vertical-align: middle;
  text-align: left;
  margin-bottom: 50px;
}

.op-right-head{
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 6px;
  vertical-align: middle;
  text-align: right;
  margin-bottom: 50px;
}
